.left-side-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  width: 260px;
  padding-top: 70px;
  transition: all 0.2s ease-out;
  background: #313a46;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

.side-nav {
  li {
    list-style: none;
  }

  .side-nav-title {
    padding: 12px 30px;
    color: #cedce4;
    font-size: 0.6875rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    cursor: default;
    pointer-events: none;
  }

  .side-nav-link {
    display: block;
    position: relative;
    padding: 10px 30px;
    transition: all 0.4s;
    color: #cedce4;
    font-size: 0.9375rem;
  }
}
