
.navbar-custom {
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  left: 260px;
  min-height: 70px;
  padding: 0 24px;
  background-color: #fff;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}
